---
import type { Codepen as CodepenType } from "../types";

interface Props {
    codepen: CodepenType;
}
const { codepen } = Astro.props;
---

<div class="card">
    <iframe
        title={codepen.name}
        src={codepen.link}
        class="codepen-iframe"
        frameborder="0"
        scrolling="no"
        allowfullscreen="true"
        allowtransparency="true"
        sandbox="allow-scripts allow-same-origin"
        loading="lazy"></iframe>
</div>
